.container {
  min-width: 320px;
  margin: 0 auto;
}

.body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
}

.content-width {
  min-width: 290px;
  max-width: 450px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .content-width {
    max-width: 768px;
  }
}

