.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo--color1 {
  color: $mark-color;
}

.logo--color2 {
  color: $studio-color;
}

.logo--color3 {
  color: $text-color-third;
}

@media screen and (min-width: 1200px) {
.logo {
font-size: 26px;
}
}