$text-color: rgba(33, 33, 33, 1);
$text-color-second: rgba(117, 117, 117, 1);
$text-color-third: rgba(255, 255, 255, 1);
$text-color-fourth: rgba(255, 255, 255, 0.6);
$mark-color: rgba(33, 150, 243, 1);
$studio-color: rgba(0, 0, 0, 1);
$background-second: rgba(47, 48, 58, 1);
$button-color: rgba(245, 244, 250, 1);
$border-header: rgba(236, 236, 236, 1);
$icon-team-color: rgba(175, 177, 184, 1);
